<template>
    <!-- eslint-disable max-len -->
    <div id="footer">
        <div class="py-3">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-6 p-3">
                <h3 contenteditable="true"> <b>Menu</b></h3>
                <ul class="list-unstyled">
                  <li> <a href="#">Panel główny</a> </li>
                  <li> <a href="#">Sklep internetowy</a> </li>
                </ul>
              </div>
              <div class="col-lg-3 col-6 p-3">
                <h3> <b>Skróty</b></h3>
                <ul class="list-unstyled">
                  <li>Nowa sprawa</li>
                  <li> <a href="#">Przeglądaj sprawy</a> </li>
                  <li> <a href="#" contenteditable="true">Zamówienia od handlowców</a> </li>
                  <li> <a href="#" contenteditable="true">Monitoring wysyłek</a> </li>
                  <li> <a href="#">Nowy szablon oferty</a> </li>
                  <li> <a href="#">Zarządzanie szablonami ofert</a> </li>
                </ul>
              </div>
              <div class="col-lg-3 col-6 p-3">
                <h3> <b>Zamówienia</b></h3>
                <ul class="list-unstyled">
                  <li>Trimble Store</li>
                  <li> <a href="#">Trimble MCS</a> </li>
                  <li> <a href="#">Trimble Virtual Warehouse</a> </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 p-3">
                <h3> <b>Uprawnienia</b></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <p class="mb-0 mt-2" contenteditable="true">© 2019 storyCRM&nbsp;<br>Wszystkie prawa zastrzeżone.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {

    };

</script>

<style lang="scss">
</style>
