<template>
    <!-- eslint-disable max-len -->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-img src="/asstes/storyCRM_logo_100x25_transparent.png"></b-img>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">

            <b-nav-item-dropdown text="Monitoring spraw handlowych" class="m-md-2" left>
              <b-dropdown-item href="#">Nowa sprawa</b-dropdown-item>
              <b-dropdown-item href="#">Przeglądaj sprawy</b-dropdown-item>
              <b-dropdown-item href="#">Zamówienia od handlowców</b-dropdown-item>
              <b-dropdown-item href="#">Wyniki sprzedaży</b-dropdown-item>
              <b-dropdown-item href="#">Monitoring wysyłek</b-dropdown-item>
              <b-dropdown-item href="#">Stan magazynu</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown text="Konfiguracja produktów" class="m-md-2" left>
              <b-dropdown-item href="#">Nowy produkt</b-dropdown-item>
              <b-dropdown-item href="#">Zarządzanie produktami</b-dropdown-item>
              <b-dropdown-item href="#">Nowa grupa produktów</b-dropdown-item>
              <b-dropdown-item href="#">Zarządzanie grupami produktów</b-dropdown-item>
              <b-dropdown-item href="#">Nowy szablon oferty</b-dropdown-item>
              <b-dropdown-item href="#">Zarządzanie szablonami ofert</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown text="Zarządzanie zespołem" class="m-md-2" left>
              <b-dropdown-item href="#">Utwórz pracownika</b-dropdown-item>
              <b-dropdown-item href="#">Edytuj pracownika</b-dropdown-item>
              <b-dropdown-item href="#">Zmiana uprawnień</b-dropdown-item>
            </b-nav-item-dropdown>


            <b-dropdown text="User.name" class="m-md-2" variant="light">
              <b-dropdown-item>Moje konto</b-dropdown-item>
              <b-dropdown-divider></b-dropdown-divider>
              <b-dropdown-item>Wyloguj</b-dropdown-item>
            </b-dropdown>


          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
</template>

<script>
    export default {

    };
</script>

<style>

</style>
