<template>
    <!-- eslint-disable max-len -->
    <div id="main panel">
        <div class="py-0"></div>
        <div>
          <div class="container">
            <div class="row">
              <div>
                <h1 class="mt-4">Monitoring spraw handlowych:</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="py-4">
          <b-container>
            <b-row class="mb-3">
              <b-col><b-button block variant="primary" size="lg">Nowa sprawa</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Zamówienia od handlowców</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Monitoring wysyłek</b-button></b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col><b-button block variant="primary" size="lg">Przeglądaj sprawy</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Wyniki sprzedaży</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Stan magazynu</b-button></b-col>
          </b-row>
          </b-container>
        </div>
        <div class="">
          <div class="container">
            <div class="row">
              <div>
                <h1 class="mt-4">Konfiguracja produktów:</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="py-4">
          <b-container>
            <b-row class="mb-3">
              <b-col><b-button block variant="primary" size="lg">Nowy produkt</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Nowa grupa produktów</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Nowy szablon oferty</b-button></b-col>
            </b-row>
            <b-row>
              <b-col><b-button block variant="primary" size="lg">Zarządzanie produktami</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Zarządzanie grupami produktów</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Zarządzanie szablonami ofert</b-button></b-col>
          </b-row>
          </b-container>
        </div>
        <div class="">
          <div class="container">
            <div class="row">
              <div>
                <h1 class="mt-4">Zarządzanie zespołem:</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="py-4">
          <b-container>
            <b-row class="mb-3">
              <b-col><b-button block variant="primary" size="lg">Utwórz pracownika</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Edytuj pracownika</b-button></b-col>
              <b-col><b-button block variant="primary" size="lg">Zmiana uprawnień</b-button></b-col>
            </b-row>
          </b-container>
        </div>
    </div>
</template>

<script>
export default {

};
</script>

<style lang="scss">
</style>
