<template>
<div id="test">
    <p>
        <br />
        <br />
        <br />
        <center>
            test content from Test.vue
        </center>
        <br />
        <br />
        <br />
    </p>
</div>
</template>

<script>
    export default {

    };
</script>
<style lang="scss">

</style>
